@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}
header{
    padding: 20px;
}
main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    max-width: 1440;
    margin: 0 auto;
    padding: 20px;
}

/* Shared Styles */
.display-flex {
    display: flex;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    width: 180px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}

.btn-primary:hover {
    opacity: 0.7;
}


/* navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.navbar h3 {
    font-size: 2.8rem;
    /* 1rem = 16px*/
    font-weight: bold;
    color: #131313;
}

.nav-links {
    max-width: 477px;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related */
.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-content h1 {
    font-weight: 700;
    font-size: 4rem;
}

.banner-content p {
    color: #727272;
}

.banner img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 45px;
}


/* teams section related */
.teams {
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 73px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 24px;
}
.team-img-container img{
    width: 100%;
}
.team-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-content h1{
    font-size: 2.8rem;
    font-weight: bold;
}
#quick-list{
    color: #727272;
    font-weight: 500;
}
#Features{
    color: #FF900E;
}
.team-content p {
    color: #727272;
    margin-bottom: 32px;
}



/* responsive media query */

@media screen and (max-width: 576px) {

    /* for navbar */
    .navbar,
    .nav-links {
        flex-direction: column;
    }

    /* for teams section*/
    .teams{
        display: flex;
        flex-direction: column-reverse;
    }
    .team-content{
        display: block;
        text-align: center;
    }
}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px){
    
}